<%- include('header') %>
<article class="article">
    <!-- 文章头部 -->
    <header>
      <h1>文章标题</h1>
      <!-- 文章属性列表 -->
      <dl class="dl-inline">
        <dt>属性</dt>
        <dd>值</dd>
        ...
      </dl>
      <div class="abstract">
        <p>摘要信息</p>
      </div>
    </header>
    <!-- 文章正文部分 -->
    <section class="content">
    
    </section>
    <!-- 文章底部 -->
    <footer>
      <ul class="pager pager-justify">
        <li class="previous"><a href="#"><i class="icon-arrow-left"></i> 上一篇</a></li>
        <li><a href="#"><i class="icon-list-ul"></i> 目录</a></li>
        <li class="next disabled"><a href="#">没有下一篇 <i class="icon-arrow-right"></i></a></li>
      </ul>
    </footer>
  </article>
<%- include('footer') %>