<%-include('header')%>
    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-2 sign-container">
        <h2>注册</h2>
        <form method="post" enctype="multipart/form-data" style="width:90%">
            <div class="input-control has-icon-left">
                <input type="text" class="form-control" placeholder="用户名" name="name">
                <label for="inputAccountExample1" class="input-control-icon-left">
                    <i class="icon icon-user "></i>
                </label>
            </div>
            <div class="input-control has-icon-left">
                <label for="inputPasswordExample1" class="input-control-icon-left">
                    <i class="icon icon-key"></i>
                </label>
                <input type="password" class="form-control" placeholder="密码" name="password">
            </div>
            <div class="input-control has-icon-left">
                <label for="inputEmailExample1" class="input-control-icon-left">
                    <i class="icon icon-check"></i>
                </label>
                <input type="password" class="form-control" placeholder="确认密码" name="repassword">
            </div>
            <div style="text-align: center">
                <Button type="submit">立即注册</Button>
            </div>
        </form>
    </div>